* {
  padding: 0;
  margin: 0;
}

body {
  font-family: neue-haas-unica, sans-serif;
}

nav {
  overflow: hidden;
  height: 40vh;
  width: 100%;
  top: 0;
  margin-bottom: 3em;
  position: relative;
  overflow: hidden;
}

nav *, nav *:before, nav *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .brand {
  width: 5em;
  height: 5em;
  float: left;
  padding-left: 5%;
}

nav .menu-cloud {
  float: right;
  width: 20em;
  height: 20em;
  position: relative;
  z-index: 0;
  margin-right: -8em;
  margin-top: -4.5em;
  overflow: hidden;
}

nav .menu-button {
  width: 3.5em;
  height: 3.5em;
  float: right;
  position: relative;
  z-index: 0;
  margin-right: -10.5em;
  margin-top: 1.5em;
}

nav .nav-menu {
  display: none;
  list-style: none;
  position: absolute;
  right: 0;
  margin-right: 2em;
  top: 4em;
}

nav .nav-menu a {
  text-decoration: none;
  color: black;
}

nav .nav-menu li {
  display: inline;
  font-size: 2.5em;
  margin-left: 1em;
}

label {
  position: relative;
  right: -65%;
}

label .menu {
  position: absolute;
  overflow: hidden;
  left: 10vw;
  bottom: 35vh;
  z-index: 5;
  width: 5em;
  height: 5em;
  background: #1CACE4;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #1CACE4, 0 0 0 0 #1CACE4;
          box-shadow: 0 0 0 0 #1CACE4, 0 0 0 0 #1CACE4;
  cursor: pointer;
}

label .hamb {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 40px;
  height: 4px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamb:after, label .hamb:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1CACE4;
}

label .hamb:before {
  top: -10px;
}

label .hamb:after {
  bottom: -10px;
}

label .hamb2 {
  position: absolute;
  top: 60%;
  left: 25%;
  width: 40px;
  height: 4px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamb2:after, label .hamb2:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1CACE4;
}

label .hamb2:before {
  top: -10px;
}

label .hamb2:after {
  bottom: -10px;
}

label .hamb3 {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 40px;
  height: 4px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamb3:after, label .hamb3:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1CACE4;
}

label .hamb3:before {
  top: -10px;
}

label .hamb3:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw #1CACE4, 0 0 0 100vh #1CACE4;
          box-shadow: 0 0 0 100vw #1CACE4, 0 0 0 100vh #1CACE4;
  border-radius: 0;
}

label input:checked + .menu .hamb {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

label input:checked + .menu .hamb:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamb:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu .hamb2 {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  top: 70%;
}

label input:checked + .menu .hamb2:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 0;
}

label input:checked + .menu .hamb2:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}

label input:checked + .menu .hamb3 {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  top: 70%;
}

label input:checked + .menu .hamb3:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 0;
}

label input:checked + .menu .hamb3:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
  visibility: visible;
}

label ul {
  z-index: 6;
  position: absolute;
  top: 50%;
  left: -2.8em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  visibility: hidden;
}

label li {
  list-style: none;
  text-align: center;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.5em;
}

header {
  z-index: 1;
  margin-top: -9.5em;
  padding-left: 5%;
  position: absolute;
  margin-bottom: 2em;
}

header .divider-line {
  width: 90vw;
  height: 0.4em;
  margin-right: 5%;
  margin-top: 2em;
  border-bottom: 0.15em solid gray;
}

.pr-h-h1 {
  margin-top: -5.5em;
  text-align: center;
  padding-right: 5%;
}

main {
  margin-top: 2em;
}

main .divider-line {
  height: 0.4em;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 0.15em solid gray;
}

main section {
  margin-top: 2em;
  overflow: hidden;
}

main section h1, main section h2, main section h3, main section h4, main section h5, main section h6, main section p {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

main section h3 {
  position: relative;
  z-index: 1;
  top: 7.5em;
  font-size: 1.35em;
  padding-left: 8%;
}

main section .in-center-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 35em;
  background: url("../images/centerCloud.svg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3em;
}

main section .in-center-cloud h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 0;
}

main section .work-button {
  position: relative;
  top: -10.5em;
  z-index: 1;
  text-align: center;
}

main section a {
  text-decoration: none;
  font-style: bold;
  color: black;
  border: 2px solid gray;
  padding: 0.5em;
  border-radius: 0.5em;
}

main section a:hover {
  background-color: #E4851C;
  border: 2px solid black;
}

main .in-section-two {
  margin-bottom: -22em;
}

main .in-section-two h1 {
  text-align: center;
  padding-bottom: 2em;
}

main .in-section-two .divider-line {
  margin-top: 1em;
  margin-bottom: 4em;
}

main .in-section-two img {
  width: 8em;
  height: 8em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main .in-section-two .in-dis-img {
  padding-top: 0.4em;
}

main .in-section-two .in-ui-img {
  padding-top: 0.8em;
}

main .in-section-two .in-des-img {
  padding-top: 0.8em;
}

main .in-section-two .grid-wrapper {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: end;
}

main .in-section-two .grid-wrapper .grid-item h2 {
  font-size: 1.4em;
  text-align: center;
}

main .in-section-two .grid-wrapper .grid-item p {
  padding-top: 0.5em;
  font-size: 0.8em;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main .pr-section {
  margin-bottom: -12em;
}

main .pr-section h2 {
  padding-top: -0.4em;
  text-align: center;
}

main .pr-section h4 {
  padding-top: 1em;
  padding-bottom: 0.4em;
}

main .pr-section img {
  width: 50%;
  height: 14em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main .pr-section .pr-arrow {
  width: 50%;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 1em;
}

main .pr-section-two {
  margin-top: 15em;
  margin-bottom: -18em;
}

main .pr-section-two .divider-line {
  display: none;
}

main .pr-section-two .pr-comp-img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main .ab-section {
  margin-bottom: -22em;
}

main .ab-section img {
  width: 90%;
  height: 90%;
  border-radius: 10% 10%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  margin-top: 3em;
}

main .ab-section h2, main .ab-section h4 {
  text-align: center;
}

main .ab-section p {
  margin-top: 0.5em;
}

main .con-form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

main .con-form fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  border: medium none;
}

main .con-form input, main .con-form textarea {
  width: 90%;
  border: 1px solid #ccc;
  background: #FFF;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main .con-form input:hover, main .con-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

main .con-form button {
  cursor: pointer;
  width: 50%;
  border: none;
  background: #1CACE4;
  color: #000;
  padding: 0.2em;
  font-size: 1.8em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0.2em;
  border: 2px solid black;
}

main .con-form button:hover {
  background: #000;
  color: #1CACE4;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

main .con-form button:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.base-section {
  text-align: center;
}

.base-section img {
  width: 40em;
  height: 40em;
  margin-left: -12em;
  overflow: hidden;
  bottom: -19.8em;
  z-index: -1;
  position: relative;
}

.base-section h2, .base-section h4 {
  position: relative;
  top: -4em;
  z-index: 1;
}

.base-section a {
  text-decoration: none;
  font-style: bold;
  color: black;
  border: 2px solid gray;
  padding: 0.5em;
  border-radius: 0.5em;
}

.base-section a:hover {
  color: #1CACE4;
  background-color: #000;
  border: 2px solid black;
}

footer {
  padding-top: 1.5em;
  background-color: #000;
  text-align: center;
}

footer .pr-footer {
  bottom: -20em;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a img {
  width: 1.5em;
  height: 1.5em;
  padding-bottom: 1.5em;
}

footer h4 {
  color: white;
}

footer .copyright {
  opacity: 0.5;
}

@media all and (min-width: 24.063em) {
  main {
    margin-top: 2em;
  }
  main .pr-section-two .fin-h2 {
    text-align: center;
  }
  .base-section {
    text-align: center;
  }
  .base-section img {
    width: 200vw;
    height: 40em;
    margin-left: -12em;
    overflow: hidden;
    bottom: -19.8em;
    z-index: -1;
    position: relative;
  }
  .base-section h2, .base-section h4 {
    position: relative;
    top: -4em;
    z-index: 1;
  }
  .base-section a {
    text-decoration: none;
    font-style: bold;
    color: black;
    border: 2px solid gray;
    padding: 0.5em;
    border-radius: 0.5em;
  }
}

@media all and (min-width: 28.56em) {
  label .menu {
    bottom: 36vh;
  }
  label .hamb {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 40px;
    height: 4px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  label .hamb:after, label .hamb:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1CACE4;
  }
  label .hamb:before {
    top: -10px;
  }
  label .hamb:after {
    bottom: -10px;
  }
  label .hamb2 {
    position: absolute;
    top: 60%;
    left: 25%;
    width: 40px;
    height: 4px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  label .hamb2:after, label .hamb2:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1CACE4;
  }
  label .hamb2:before {
    top: -10px;
  }
  label .hamb2:after {
    bottom: -10px;
  }
  label .hamb3 {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 40px;
    height: 4px;
    background: #000;
    display: block;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  label .hamb3:after, label .hamb3:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1CACE4;
  }
  label .hamb3:before {
    top: -10px;
  }
  label .hamb3:after {
    bottom: -10px;
  }
  label input {
    display: none;
  }
  label input:checked + .menu {
    -webkit-box-shadow: 0 0 0 100vw #1CACE4, 0 0 0 100vh #1CACE4;
            box-shadow: 0 0 0 100vw #1CACE4, 0 0 0 100vh #1CACE4;
    border-radius: 0;
  }
  label input:checked + .menu .hamb {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  label input:checked + .menu .hamb:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 0;
  }
  label input:checked + .menu .hamb:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  label input:checked + .menu .hamb2 {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
    top: 70%;
  }
  label input:checked + .menu .hamb2:after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    bottom: 0;
  }
  label input:checked + .menu .hamb2:before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 0;
  }
  label input:checked + .menu .hamb3 {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
    top: 70%;
  }
  label input:checked + .menu .hamb3:after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    bottom: 0;
  }
  label input:checked + .menu .hamb3:before {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: 0;
  }
  label input:checked + .menu + ul {
    opacity: 1;
    visibility: visible;
  }
  label ul {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: -4.8em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    visibility: hidden;
  }
  label li {
    list-style: none;
    text-align: center;
  }
  label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
  }
  main section h3 {
    position: relative;
    z-index: 1;
    top: 9em;
    font-size: 1.35em;
    padding-left: 8%;
  }
  main .pr-section-two .fin-h2 {
    text-align: center;
  }
  main .in-section-two img {
    width: 10em;
    height: 10em;
  }
  main .in-section-two .in-dis-img {
    padding-top: 0em;
  }
  main .in-section-two .in-ui-img {
    padding-top: 0em;
  }
  main .in-section-two .in-des-img {
    padding-top: 0em;
  }
  .base-section img {
    bottom: -20.8em;
  }
}

@media all and (min-width: 32em) {
  label {
    right: -70%;
  }
  label .menu {
    left: 10vw;
    bottom: 36vh;
  }
  label ul {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: -5.8em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    visibility: hidden;
  }
  main section {
    margin-top: 2em;
    overflow: hidden;
  }
  main section h1, main section h2, main section h3, main section h4, main section h5, main section h6, main section p {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  main section h3 {
    position: relative;
    z-index: 1;
    top: 11.5em;
    font-size: 1.5em;
    padding-left: 8%;
  }
  main section a {
    text-decoration: none;
    font-style: bold;
    color: black;
    border: 2px solid gray;
    padding: 0.5em;
    border-radius: 0.5em;
  }
  main .in-section-two {
    margin-bottom: -22em;
  }
  main .in-section-two h1 {
    text-align: center;
    padding-bottom: 2em;
  }
  main .in-section-two .divider-line {
    margin-top: 1em;
    margin-bottom: 4em;
  }
  main .in-section-two img {
    width: 8em;
    height: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .in-section-two .in-dis-img {
    padding-top: 0.4em;
  }
  main .in-section-two .in-ui-img {
    padding-top: 0.8em;
  }
  main .in-section-two .in-des-img {
    padding-top: 0.8em;
  }
  main .in-section-two .grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  main .in-section-two .grid-wrapper .grid-item h2 {
    font-size: 1.4em;
    text-align: center;
  }
  main .in-section-two .grid-wrapper .grid-item p {
    padding-top: 0.5em;
    font-size: 0.8em;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .pr-section {
    margin-bottom: -12em;
  }
  main .pr-section h2 {
    padding-top: -0.4em;
    text-align: center;
  }
  main .pr-section h4 {
    padding-top: 1em;
    padding-bottom: 0.4em;
  }
  main .pr-section img {
    width: 50%;
    height: 14em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .pr-section .pr-arrow {
    width: 50%;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1em;
  }
  main .pr-section-two {
    margin-top: 15em;
    margin-bottom: -18em;
  }
  main .pr-section-two .pr-comp-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .ab-section {
    margin-bottom: -22em;
  }
  main .ab-section img {
    width: 90%;
    height: 90%;
    border-radius: 10% 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }
  main .ab-section h2, main .ab-section h4 {
    text-align: center;
  }
  main .ab-section p {
    margin-top: 0.5em;
  }
  main .con-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  main .con-form fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.2em;
    border: medium none;
  }
  main .con-form input, main .con-form textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  main .con-form input:hover, main .con-form textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  main .con-form button {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #1CACE4;
    color: #000;
    padding: 0.2em;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.2em;
    border: 2px solid black;
  }
  main .con-form button:hover {
    background: #000;
    color: #1CACE4;
    -webkit-transition: background 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  main .con-form button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  footer {
    padding-top: 1.5em;
    background-color: #000;
    text-align: center;
  }
  footer .pr-footer {
    bottom: -20em;
  }
  footer a {
    color: white;
    text-decoration: none;
    font-size: 2em;
  }
  footer img {
    width: 2.5em;
    height: 2.5em;
    padding-bottom: 1.5em;
  }
  footer h4 {
    color: white;
  }
  footer .copyright {
    opacity: 0.5;
    font-size: 1.8em;
  }
}

@media all and (min-width: 38.125em) {
  nav {
    overflow: hidden;
    height: 50vh;
    width: 100%;
    top: 0;
    margin-bottom: 3em;
    position: relative;
    overflow: hidden;
  }
  nav *, nav *:before, nav *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav .brand {
    width: 8em;
    height: 8em;
  }
  nav .menu-cloud {
    float: right;
    width: 25em;
    height: 25em;
    position: relative;
    z-index: 0;
    margin-right: -12em;
    margin-top: -5.5em;
    overflow: hidden;
  }
  label {
    right: -75%;
  }
  label .menu {
    left: 10vw;
    bottom: 44vh;
  }
  label ul {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: -8.8em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    visibility: hidden;
  }
  label a {
    font-size: 1.8em;
  }
  header {
    font-size: 1.5em;
    margin-top: -7.5em;
  }
  main section h3 {
    position: relative;
    z-index: 1;
    top: 11.5em;
    font-size: 1.8em;
    padding-left: 8%;
  }
  main section a {
    text-decoration: none;
    font-style: bold;
    color: black;
    border: 2px solid gray;
    padding: 0.5em;
    border-radius: 0.5em;
  }
  main section a:hover {
    background-color: #E4851C;
    border: 2px solid black;
  }
  main section .in-center-cloud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 55em;
    background: url("../images/centerCloud.svg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 6em;
    margin-top: 6em;
  }
  main section .in-center-cloud h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0;
  }
  main .in-section-two {
    margin-bottom: -22em;
  }
  main .in-section-two h1 {
    text-align: center;
    padding-bottom: 2em;
    font-size: 2em;
  }
  main .in-section-two .divider-line {
    margin-top: 1em;
    margin-bottom: 4em;
  }
  main .in-section-two img {
    width: 10em;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .in-section-two .in-dis-img {
    padding-top: 0.4em;
  }
  main .in-section-two .in-ui-img {
    padding-top: 0.8em;
  }
  main .in-section-two .in-des-img {
    padding-top: 0.8em;
  }
  main .in-section-two .grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  main .in-section-two .grid-wrapper .grid-item h2 {
    font-size: 2em;
    text-align: center;
  }
  main .in-section-two .grid-wrapper .grid-item p {
    padding-top: 0.5em;
    font-size: 1em;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .pr-section {
    margin-bottom: -12em;
  }
  main .pr-section h2 {
    font-size: 2.5em;
  }
  main .pr-section h4 {
    font-size: 1.8em;
  }
  main .pr-section p {
    font-size: 1.4em;
  }
  main .pr-section img {
    width: 50%;
    height: 14em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .pr-section .pr-arrow {
    width: 50%;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  main .pr-section-two {
    margin-top: 15em;
    margin-bottom: -18em;
  }
  main .pr-section-two h2 {
    font-size: 2.5em;
    padding-bottom: .5em;
  }
  main .pr-section-two p {
    font-size: 1.4em;
  }
  main .pr-section-two .pr-comp-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .ab-section {
    margin-bottom: -22em;
  }
  main .ab-section img {
    width: 90%;
    height: 90%;
    border-radius: 10% 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }
  main .ab-section h2, main .ab-section h4 {
    text-align: center;
  }
  main .ab-section h2 {
    font-size: 2.2em;
  }
  main .ab-section h4 {
    font-size: 1.8em;
  }
  main .ab-section p {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  main .con-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  main .con-form fieldset {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 0.2em;
    border: medium none;
  }
  main .con-form input, main .con-form textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  main .con-form input:hover, main .con-form textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  main .con-form button {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #1CACE4;
    color: #000;
    padding: 0.2em;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.2em;
    border: 2px solid black;
  }
  main .con-form button:hover {
    background: #000;
    color: #1CACE4;
    -webkit-transition: background 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  main .con-form button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  .base-section {
    padding-top: 5em;
  }
  .base-section h2 {
    top: -3em;
    font-size: 2.2em;
  }
  .base-section a {
    font-size: 1.8em;
  }
  .base-section img {
    width: 100em;
    height: 45em;
    margin-left: -22em;
  }
}

@media all and (min-width: 46.75em) {
  label ul {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: -22vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    visibility: hidden;
  }
  label a {
    font-size: 2em;
  }
  main .in-section-two {
    margin-bottom: -22em;
  }
  main .in-section-two h1 {
    text-align: center;
    padding-bottom: 2em;
    font-size: 2.8em;
  }
  main .in-section-two .divider-line {
    margin-top: 1em;
    margin-bottom: 4em;
  }
  main .in-section-two img {
    width: 35vw;
    height: 35vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .in-section-two .in-dis-img {
    padding-top: 0.4em;
  }
  main .in-section-two .in-ui-img {
    padding-top: 0.8em;
  }
  main .in-section-two .in-des-img {
    padding-top: 0.8em;
  }
  main .in-section-two .grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  main .in-section-two .grid-wrapper .grid-item h2 {
    font-size: 2.4em;
    text-align: center;
  }
  main .in-section-two .grid-wrapper .grid-item p {
    padding-top: 0.5em;
    font-size: 1.6em;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .pr-section {
    margin-bottom: -12em;
  }
  main .pr-section h2 {
    font-size: 2.6em;
  }
  main .pr-section h4 {
    font-size: 2em;
  }
  main .pr-section p {
    font-size: 1.8em;
  }
  main .pr-section img {
    width: 75vw;
    height: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
  }
  main .pr-section .pr-arrow {
    width: 50%;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  main .pr-section-two {
    margin-top: 15em;
    margin-bottom: -18em;
  }
  main .pr-section-two h2 {
    font-size: 2.5em;
    padding-bottom: .5em;
  }
  main .pr-section-two p {
    font-size: 1.8em;
  }
  main .pr-section-two .pr-comp-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
  }
  main .con-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  main .con-form fieldset {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 0.2em;
    border: medium none;
  }
  main .con-form input, main .con-form textarea {
    width: 75%;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.6em;
  }
  main .con-form input:hover, main .con-form textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  main .con-form button {
    cursor: pointer;
    width: 35%;
    border: none;
    background: #1CACE4;
    color: #000;
    padding: 0.2em;
    font-size: 2.8em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.2em;
    border: 2px solid black;
  }
  main .con-form button:hover {
    background: #000;
    color: #1CACE4;
    -webkit-transition: background 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  main .con-form button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  main .ab-section {
    margin-bottom: -22em;
  }
  main .ab-section img {
    width: 75%;
    height: 75%;
    border-radius: 10% 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    margin-top: 3em;
  }
  main .ab-section h2, main .ab-section h4 {
    text-align: center;
  }
  main .ab-section p {
    margin-top: 0.5em;
  }
}

@media all and (min-width: 57.375em) {
  nav .brand {
    width: 10em;
    height: 10em;
  }
  nav .menu-cloud {
    width: 34em;
    height: 34em;
    margin-right: -14em;
    margin-top: -8.5em;
  }
  label .menu {
    width: 7em;
    height: 7em;
    left: 8vw;
    bottom: 45vh;
  }
  label ul {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: -22vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    visibility: hidden;
  }
  label a {
    font-size: 4em;
  }
  header {
    font-size: 2em;
    margin-top: -5.5em;
  }
  main section h3 {
    font-size: 2.4em;
  }
  main .in-section-two h1 {
    font-size: 3.6em;
  }
  .base-section {
    padding-top: 6em;
  }
  .base-section h2 {
    top: -2.8em;
    font-size: 3.4em;
  }
  .base-section a {
    font-size: 2.2em;
  }
  .base-section img {
    width: 140em;
    height: 45em;
    margin-left: -35.4em;
  }
}

@media all and (min-width: 64em) {
  nav .brand {
    width: 16%;
  }
  nav .nav-menu {
    display: inline-block;
  }
  label {
    display: none;
  }
}

@media all and (min-width: 67em) {
  header {
    margin-top: -6em;
  }
  .ab-header {
    position: static;
  }
  .base-section img {
    width: 120vw;
    margin-bottom: -20%;
    margin-left: -3em;
    height: 96vw;
  }
  main section h3 {
    font-size: 3em;
    margin-top: 2em;
  }
}

@media all and (min-width: 80.75em) {
  main section .in-center-cloud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 40em;
    background: url("../images/squareBlueBanner.svg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5em;
    margin-top: 5em;
  }
  main section .in-center-cloud h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0;
  }
  main .in-section-two .grid-wrapper {
    -ms-grid-columns: 1fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    padding: 0 2em;
  }
  main .in-section-two .grid-wrapper img {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 92.188em) {
  .base-section {
    padding-top: 6em;
  }
  .base-section h2 {
    top: -2.8em;
    font-size: 3.4em;
  }
  .base-section a {
    font-size: 2.2em;
  }
  .base-section img {
    width: 120vw;
    margin-bottom: -20%;
    margin-left: -3em;
    height: 96vw;
    margin-bottom: -30%;
  }
  .pr-h-h1 {
    margin-top: -10em;
    text-align: center;
  }
}

@media all and (min-width: 121.875em) {
  nav .brand {
    margin-top: 2em;
  }
  nav .nav-menu {
    right: 0;
    margin-right: 8em;
    top: 6em;
  }
  nav .nav-menu a {
    text-decoration: none;
    color: black;
  }
  nav .nav-menu li {
    display: inline;
    font-size: 4.5em;
    margin-left: 1.5em;
  }
  nav .menu-cloud {
    width: 50em;
    height: 50em;
    margin-right: -20em;
    margin-top: -12em;
  }
  header {
    margin-top: -10em;
  }
  header h1 {
    font-size: em;
  }
  .ab-header {
    margin-top: -10em;
  }
  main section h3 {
    font-size: 5em;
    margin-top: 0em;
  }
  main section .in-center-cloud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 40em;
    background: url("../images/squareBlueBanner.svg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5em;
    margin-top: 5em;
  }
  main section .in-center-cloud h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 0;
  }
  main .in-section-two h1 {
    font-size: 8em;
  }
  main .in-section-two .divider-line {
    margin-top: -4em;
    margin-bottom: 10em;
  }
  main .in-section-two img {
    width: 50vw;
    height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .in-section-two .in-dis-img {
    padding-top: 0.4em;
  }
  main .in-section-two .in-ui-img {
    padding-top: 0.8em;
  }
  main .in-section-two .in-des-img {
    padding-top: 0.8em;
  }
  main .in-section-two .grid-wrapper {
    -ms-grid-columns: 1fr 1.2fr 1.2fr 1fr;
        grid-template-columns: 1fr 1.2fr 1.2fr 1fr;
    padding: 2em 6em;
  }
  main .in-section-two .grid-wrapper img {
    padding-bottom: 4em;
    padding-top: 4em;
  }
  main .in-section-two .grid-wrapper .grid-item h2 {
    font-size: 5em;
  }
  main .in-section-two .grid-wrapper .grid-item p {
    font-size: 2.8em;
  }
  main .pr-section {
    margin-bottom: -12em;
    margin-top: 12em;
  }
  main .pr-section .pr-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 5em;
  }
  main .pr-section .pr-grid img {
    display: block;
    width: 25vw;
    height: 65vh;
  }
  main .pr-section .pr-grid .pr-grid-text {
    margin-right: 4em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .pr-section .pr-grid .pr-grid-text h2 {
    font-size: 4em;
  }
  main .pr-section .pr-grid .pr-grid-text h4 {
    font-size: 2.2em;
  }
  main .pr-section .pr-grid .pr-grid-text p {
    font-size: 2em;
  }
  main .pr-section .pr-arrow {
    display: none;
  }
  main .pr-section h2 {
    padding-top: -0.4em;
    text-align: center;
  }
  main .pr-section h4 {
    padding-top: 1em;
    padding-bottom: 0.4em;
  }
  main .pr-section-two {
    margin-top: 15em;
    margin-bottom: -18em;
  }
  main .pr-section-two .divider-line {
    display: block;
    margin-bottom: 10em;
  }
  main .pr-section-two .pr-comp-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main .pr-section-two h2 {
    font-size: 4em;
  }
  main .pr-section-two p {
    text-align: center;
    font-size: 2em;
  }
  main .ab-section {
    margin-bottom: -22em;
  }
  main .ab-section img {
    width: 50%;
    height: 50%;
    border-radius: 10% 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }
  main .ab-section h2, main .ab-section h4 {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  main .ab-section p {
    margin-top: 0.5em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  main .base-section {
    padding-top: 6em;
  }
  main .base-section h2 {
    top: -2em;
    font-size: 6.4em;
  }
  main .base-section a {
    font-size: 4.2em;
    margin-bottom: 2em;
  }
  main .base-section img {
    width: 125vw;
    margin-left: -4em;
    height: 90vw;
    margin-bottom: -35%;
  }
  main footer {
    padding-top: 1.5em;
    background-color: #000;
    text-align: center;
  }
  main footer .pr-footer {
    bottom: -20em;
  }
  main footer a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
  }
  main footer img {
    width: 2.5em;
    height: 2.5em;
    padding-bottom: 1.5em;
  }
  main footer h4 {
    color: white;
  }
  main footer .copyright {
    opacity: 0.5;
    font-size: 1.8em;
  }
  .pr-main .divider-line {
    margin-top: 15em;
  }
}
/*# sourceMappingURL=main.css.map */